<p style="color: green"><%= notice %></p>

<h1>Clients</h1>

<%= link_to "New client", new_admins_client_path, class: "btn btn-success" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Email</th>
      <th>Extra Fields</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <%= render client %>
    <% end %>
  </tbody>
</table>

